ServiciosWeb.ClienteConsola/Service References/ServiceLibroWCF/ServicioLibro1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:29289/ServicioLibro.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWeb.Datos.Models" />
  <xs:element name="ObtenerLibros">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLibrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosWeb.Datos.Models" minOccurs="0" name="ObtenerLibrosResult" nillable="true" type="q1:ArrayOfLibro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>